.icon {
  width: 2rem;
}

header {
  border-bottom: solid 2px;
  background-color: maroon;
}

footer {
  background-color: maroon;
  /* font-size: 0.8em; */
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h5 {
  color: white;
}
.container {
  margin-bottom: 200px;
}

.banner {
  margin-top: 80%;
  margin-bottom: 5%;
}

.icon {
  width: 2em;
  margin: 5px;
}
.icon-h {
  width: 3em;
}

.photo {
  width: 225px;
}

h1 {
  font-size: 2em;
}
#work {
  height: 2em;
}
nav {
  font-size: 1em;
}
.nav-link {
  color: white;
}
h5,
p {
  font-size: smaller;
}
form {
  font-size: small;
  width: 100%;
  height: 100%;
}
.app-img {
  width: 100%;
  /* margin: 3em; */
}
.app-img:hover {
  width: 101%;
}
.app-banner {
  background-color: dimgray;
  color: aliceblue;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .photo {
    width: 18rem;
  }
  h1 {
    font-size: 2em;
  }
  footer {
    font-size: 1em;
  }
}
@media screen and (min-width: 1023px) {
  .photo {
    width: 18rem;
  }
  h1 {
    font-size: 3em;
  }
  .jumbotron {
    height: 32em;
  }
}
